
html {
  position: relative;
  min-height: 100%;
  padding-bottom:90px;
}

body {
  margin-bottom: 90px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  min-height: 150px;
}

.navbar .container {
  max-width: 1600px;
}

.navbar-brand {
  display: grid;
  place-items: center left;
  height: 80px;
  font-size: 2rem;
  line-height: 1rem;
}

.navbar .nav-item {
  display: flex;
  align-items: right;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.jumbotron {
  background-image: url(images/hero-banner.svg);
  background-size: cover;
  min-height: 25rem;
  height: 100%;
  color: aliceblue;
}

